# Node.js dependencies
/backend/node_modules
/frontend/acytel_frontend/node_modules

# Rust build artifacts
/services/streamer/target
/services/streamer/Cargo.lock

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env*.local

# Test files
*.mp3

# Editor and OS files
.vscode
.DS_Store